<h1>Plots</h1>
<% @plots.each do |plot| %><br>
Plot number: <%= plot.number %>
  <% plot.plants.each do |plant| %>
  <%= plant.name %>
  <%= link_to "Remove #{plant.name} from plot", "/plots/plot_id", params: {plot_id: plot.id}, method: :patch %>
  <% end %>
<% end %>
