<h1>Plots</h1>
<% @plots.each do |plot| %><br>
Plot number: <%= plot.number %>
  <% plot.plants.each do |plant| %>
  <%= plant.name %>
  <%= form_with url: "/plots/#{plot.id}/plants/#{plant.id}", method: :delete, local: true do |form| %>
    <%= form.submit "Remove #{plant.name} from plot" %>
    <% end %>
  <% end %>
<% end %>
